/* *{
    margin: 0;
    padding: 0;
} */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* Header style start */
header {
  background: #2d25a0;
  display: flex;
  justify-content: center;
  padding: 70px 15px;
}

header .banner {
  max-width: 1160px;
  width: 100%;
  display: flex;
  align-items: center;
}
header .banner .left-content h1 {
  font-weight: bold;
  font-size: 64px;
  color: #fff;
}
header .banner .left-content button {
  padding: 10px 24px;
  background: #e02c6d;
  border: none;
  color: #fff;
  transition: all 0.3s ease;
  /* margin-top: 2rem; */
  margin-bottom: 2rem;
}
header .banner .left-content button:hover {
  background: transparent;
  border: 1px solid #fff;
}
header .banner .right-content img {
  width: 100%;
}

.left-content,
.right-content {
  flex: 50%;
}
/* -----------
Header style end
----------------*/
main {
  display: flex;
  justify-content: center;
}
main .playere {
  width: 100%;
  max-width: 1160px;
  display: grid;
  margin: 70px 15px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
main .playere .neymar {
  height: auto;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 5px;
  transition: all 0.3s ease;
  overflow: hidden;
  cursor: pointer;
}
main .playere .neymar:hover {
  box-shadow: none;
}
main .playere .neymar img {
  width: 100%;
  border-radius: 5px;
}
main .playere .neymar .player-photos {
  overflow: hidden;
}

main .playere .neymar:hover img {
  transform: scale(1.3);
  transition: all 0.3s ease-in-out;
}
/*----------
 mine .playere end
 -------*/
/*----------
  all-highlights-copa start-
  ---------- */
.all-highlights-copa {
  display: flex;
  justify-content: center;
}
.all-highlight {
  width: 100%;
  max-width: 1160px;
  display: flex;
  margin: 70px 15px;
  align-items: center;
  justify-content: center;
}
.all-highlights-copa .left,
.all-highlights-copa .right {
  flex: 50%;
}
.all-highlights-copa .left h1 {
  font-weight: bold;
  font-size: 48px;
  color: #0a0826;
}
.all-highlights-copa .left p {
  font-weight: normal;
  font-size: 16px;
  color: #6c6c6c;
}
.all-highlights-copa .left button {
  padding: 10px 24px;
  background: #e02c6d;
  border: none;
  color: #fff;
  transition: all 0.3s ease;
  /* margin-top: 2rem; */
  margin-bottom: 2rem;
}
.all-highlights-copa .left button:hover {
  background: transparent;
  border: 1px solid #e02c6d;
  color: #e02c6d;
}
.all-highlights-copa .right {
  overflow: hidden;
}
.all-highlights-copa .right img {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}
.all-highlights-copa .right:hover img {
  transform: scale(1.3);
  transition: all 0.3s ease-in-out;
}
/* ----------
all-highlights-copa end
---------- */
/* midia start */
.media-wrap {
  margin: 70px 15px;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1160px;
  width: 100%;
}

.media {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.media-wrap .container h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

/* midia end */
/* sponsors-item :start */
.sponsors div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sponsors-item {
  margin: 70px 15px;
}
.sponsors-item h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}
.sponsors-item .sponsors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* --------------
Footer start
--------------- */

footer {
  margin: 70px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .logo img {
  width: 400px;
  height: 120px;
}
footer .socal-icon a {
  font-size: 2rem;
  margin-right: 1.1rem;
  color: #969bab;
}

/* Responsive web design  */

@media only screen and (max-width: 800px) {
  main .playere {
    grid-template-columns: 1fr 1fr;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .left-content,
  .right-content {
    flex: 100%;
  }
  .all-highlight {
    flex-direction: column;
  }
  .media {
    grid-template-columns: repeat(2, 1fr);
  }
  .all-highlights-copa .left,
  .all-highlights-copa .right {
    flex: 100%;
  }
}

@media only screen and (max-width: 480px) {
  main .playere {
    grid-template-columns: 1fr;
  }
  .media {
    grid-template-columns: 1fr;
  }
}
