/* *{
    margin: 0;
    padding: 0;
} */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* Header style start */
header .banner{
    padding: 0 100px;
    background: #2D25A0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .banner .left-content h1{
    font-weight: bold;
    font-size: 64px;
    color: #fff;

}
header .banner .left-content button{
    padding: 10px 24px;
    background: #E02C6D;
    border: none;
    color: #fff;
    transition: all 0.3s ease;
    /* margin-top: 2rem; */
    margin-bottom: 2rem;
}
header .banner .left-content button:hover{
    background: transparent;
    border: 1px solid #fff;
}
header .banner .right-content{
    width: 556px;  
}
header .banner .right-content img{
    width: 556px;  
}
/* -----------
Header style end 
----------------*/
main{
    margin-top: 4rem;
}
main .playere{  
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 15px;
    
}
main .playere .neymar{
    width: 330px;
    height: auto;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
main .playere .neymar:hover{
    box-shadow: none;
}
main .playere .neymar img{
    width: 100%;
    height: 256px;
}
main .playere .neymar .playere-des{
    width: 300px;
}
/*----------
 mine .playere end
 -------*/
 /*----------
  all-highlights-copa start-
  ---------- */
.all-highlights-copa{
    display: flex;
    margin-top: 5rem;
    align-items: center;
    padding: 0 100px;
}
.all-highlights-copa .left{
    width: 40%;
    margin-left: 5%;
    /* margin-right: 5%; */
}
.all-highlights-copa .left h1{
    font-weight: bold;
    font-size: 48px;
    color: #0A0826;
}
.all-highlights-copa .left p{
    font-weight: normal;
    font-size: 16px;
    color: #6C6C6C;
}
.all-highlights-copa .left button{
    padding: 10px 24px;
    background: #E02C6D;
    border: none;
    color: #fff;
    transition: all 0.3s ease;
    /* margin-top: 2rem; */
    margin-bottom: 2rem;
}
.all-highlights-copa .left button:hover{
    background: transparent;
    border: 1px solid #E02C6D;
    color: #E02C6D;
}
.all-highlights-copa .right{
    width: 40%;
    margin-left: 5%;
    /* margin-right: 5%; */
}
.all-highlights-copa .right img{
    width: 567px;
    height: 427px;
}
/* ----------
all-highlights-copa end
---------- */
/* --------------
Footer start
--------------- */
footer{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer .logo img{
    width: 400px;
    height: 120px;
}
footer .socal-icon a{
    font-size: 2rem;
    margin-right: 1.1rem;
    color: #969BAB;

}















