*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* Header style start */
header .banner{
    padding: 0 100px;
    background: #2D25A0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .banner .left-content h1{
    font-weight: bold;
    font-size: 64px;
    color: #fff;

}
header .banner .left-content button{
    padding: 10px 24px;
    background: #E02C6D;
    border: none;
    color: #fff;
    transition: all 0.3s ease;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
header .banner .left-content button:hover{
    background: transparent;
    border: 1px solid #fff;
}
header .banner .right-content{
    width: 556px;  
}
header .banner .right-content img{
    width: 556px;  
}
/* -----------
Header style end 
----------------*/
main{
    margin-top: 4rem;
}
main .playere{  
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 15px;
    
}
main .playere .neymar{
    width: 330px;
    height: auto;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
main .playere .neymar img{
    width: 100%;
    height: 256px;
}
main .playere .neymar .playere-des{
    width: 300px;
}
/*----------
 mine .playere end
 -------*/














 